@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


html {
    font-family:Roboto, sans-serif;
    font-weight: bold;
  
  }
  body{
      margin:0;
  }

  a {
    text-decoration: none;
    color: #3D2892;
  }
  
  .loading-container {
    padding: 4rem;
  }
  
  .translateY {
    transform: translateY(0) !important;
    transition: transform 0.3s ease-in-out;
  }