footer {
    position: fixed;
    bottom: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 100vw;
    background-color:#3D2892;
    margin-top:200px;
  
  }
  
  footer > * {
    margin: 15px;
  }

  h1{
      font-size: 1.5vh;
  }

  @media (max-width:1469px) {

    footer{
        width: 100vw;
    }
  }