@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

table{
    margin-left:30%;
   
}


.poster {
    max-width: 200px;
    margin: 10px 2%;
    align-self: center;
    padding: 25px 25px;
  
  }

  
h3{
    color:#3D2892;
    font-weight: bold;
    font-size: 2em;
}

p{
    color:#3D2892;
    font-weight: 100;
    font-size: 14px;
    line-height: 1.8em;
    text-align: justify;
    
}

.Info{
    padding-right:45em ;
    margin-bottom:15px;
}

@media (max-width:1469px) {
    .table {
        display: block;
        position: relative;
        width: 100%;
      }

      
     .table tbody,
     .table td,
     .tabletr {
     display: block;
  }
  

  .table tbody {
    width: auto;
    position: center;
  
   }

  .Info{
      padding-left: 2em;
     
  }
  .poster{
      padding: 0px 0px;
    //   margin-left:15%;
  }
  h3{
      margin:0px 0px;
  }

  .table tbody tr {
    display: inline-block;
  }

  td{
      margin-left: 0px;
  }

}


button{
  display: block;
  width: 12em;
  padding: 12px 0;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: #3D2892;
  border: 0;
  border-radius: 35px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  &:hover {
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.16);
    transform: translate(0, -5px);
  }
}

  .button:hover {
    opacity: 1;
  }


  .divTable {
      margin-bottom: 30px;
  }