nav {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    width: 100vw;
    background-color:#3D2892;
    font-size: 20rem;
   
  
    * {
      margin: 0 0.2rem;
    }
  }
 